/* Esconde a barra de rolagem vertical */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
}

/* Permite a navegação usando o teclado */
body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.foto-fundo-ini {
  background-image: url("/src/imagens/fundo-principal.jpg");
  background-repeat: no-repeat; /* Removendo o slide */
  /*background-size: contain; n vai cortar a foto*/
  background-repeat: cover; /* Para cobrir todo o espaço do elemento */
  background-position: center; /* Centralizando a imagem */
  max-width: 100%;
}
.menu {
  width: 100%; /* Fazer o menu ocupar toda a largura da página */
  height: 35px;
  display: flex; /* Usar flexbox para posicionar o título e os itens do menu */
  justify-content: space-between; /* Colocar o título à esquerda e os itens do menu à direita */
  align-items: center; /* Centralizar verticalmente o conteúdo do menu */
  padding: 10px; /* Adicionar um espaço de preenchimento interno ao menu para melhorar a aparência */
}

.menu-itens {
  display: flex; /* Usar flexbox para posicionar os itens do menu */
  margin-top: 10px;
}

.menu-itens a {
  margin-left: 10px; /* Adicionar um espaço entre os itens do menu (opcional) */
  font-size: 1em;
  text-decoration: none; /* Remover a decoração de link padrão */
  background-color: #f9b232;
  border-radius: 15%;
  padding: 4px;
  color: #000; /* Definir a cor do texto dos itens do menu */
}

.menu .icone {
  display: flex; /* Usar flexbox para alinhar os elementos horizontalmente */
  align-items: center; /* Centralizar verticalmente o ícone e o título */
}

.menu .icone img {
  width: 28px; /* Definir o tamanho do ícone */
  margin-right: 5px; /* Ajuste a margem para controlar o espaçamento entre o ícone e o título */
}

/* Estilize o título da página conforme necessário */
.menu .titulo h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0; /* Remova qualquer margem padrão que possa estar causando o espaçamento indesejado */
}

.conteudo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly;
}

.logo {
  max-width: 350px;
}

.descricao {
  font-weight: 500px;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  margin-left: 50px;
}

.frase {
  font-family: Dancing Script;
  font-size: 45px;
  color: #fff;
  margin-left: 50px;
}

.titulo-galeria {
  color: #111111;
  font-family: Dancing Script;
  text-align: center;
  margin-top: 0.7rem;
}

.contato-container{
  width: 100%;
  display: grid;
  grid-template-columns: auto 50px;
  justify-items: center;
  margin-top: 10px;
  text-align: center;
}

.contato{
  background: #333;
  max-width: 100%;
  max-height: 80%;
  display: grid;
  text-align: center;
}

.contato, h1, a{
color: #fff;
}

.contato-container, .seta{
    margin-top: 5px;
}