* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-footer,
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/* @media (max-width: 1280px) {
	body {
	  margin: 0;
	  padding: 0;
	  gap: 0;
	}
	.logo {
	  width: 60vw;
	}
	.informacoes{
	  width: 50vw;
	  background: none;
	  
	}
	.informacoes .descricao {
	  font-size: 15px;
	  font-weight: 200;
	  color: #fff;
	  line-height: 20px;
	  align-items: center;
	}
	.informacoes .frase{
	  font-size: 20px;
	  color: #fff;
	}
  }
  
  @media (max-width: 768px) {
	.informacoes {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  background: none;
	}
  
	.informacoes .descricao {
	  width: 800%;
	  text-align: center;
	}
  }
  
  @media (max-width: 425px) {
	.informacoes .logo {
	  max-width: 300px;
	}
  
	.informacoes .descricao {
	  width: 100%;
	}
  
	.menu-lateral {
	  position: static;
	  min-height: auto;
	  width: 100%;
	  margin-top: 50px;
	}
  
	.menu-lateral ul {
	  flex-direction: row;
	}
  
	.conteudo {
	  min-height: 70vh;
	  gap: 50px;
	}
  
	body {
	  padding: 40px;
	}
  } */
