@media (max-width: 1280px) {
  body {
    margin: auto;
    padding: 0px;
  }
  .logo {
    width: 100vw;
  }
  .informacoes {
    margin-left: 35px;
  }
  .informacoes .descricao {
    width: 100%;
    margin-top: -10px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
  }
  .informacoes .frase {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
  }
  .informacoes .descricao {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .informacoes .logo {
    max-width: 300px;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  .carrosel img {
    max-width: 200%;
  }

  .informacoes .descricao {
    width: 100%;
    font-size: 20px;
    justify-items: center;
    margin-left: -10px;
  }
  .informacoes .frase {
    width: 100%;
    font-size: 28px;
    margin-left: -10px;
  }

  .botoes-carrossel {
    margin-top: 10px;
  }

  .menu-lateral {
    position: static;
    min-height: auto;
    width: 100%;
    margin-top: 20px;
  }

  .menu-lateral ul {
    flex-direction: row;
  }

  .conteudo {
    min-height: 70vh;
    gap: 30px;
  }

  body {
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.05926120448179273) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
